

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(180deg, #FFEFD5 0%, #FFDAB9 100%);
  }
}
/* In your global CSS file or Tailwind configuration */
.react-calendar {
  border: none;
}

.react-calendar__tile {
  padding: 0.5rem;
}